@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: idroid;
    src: url(../fontes/idroid.otf);
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(137, 198, 223);
}

header {
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 40px;
}

#primeiroH1 {
    margin: 0px 0px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    font-weight: normal;
}

#pHeader {
    padding-bottom: 50px;
    max-width: 620px;
    margin: auto;
    font-size: 19.2px;
    line-height: 20px;
}

nav {
    text-decoration: none;
    background-color: var(--cor5);
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: #83e1ad;
    padding: 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;

}

h1{
    font-family: idroid, cursive;
    font-weight: normal;
    font-size: 30px;
    margin: 5px 0px 20px 0px;
}

h2 {
    background-image: linear-gradient(to right, var(--cor1), #fff);
    color: var(--cor4);
    font-family: idroid, cursive;
    margin: 15px 0px;
    padding-left: 10px;
    font-weight: normal;
  
}

main {
    background-color: white;
    max-width: 1000px;
    text-align: justify;
    margin: 0px auto;
    padding: 20px;
}

p {
    text-indent: 20px;
    font-size: 16px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    line-height: 30px;
}

ul > li {
    list-style: \FE0F;
}

.foto {
    width: 100%;
}

footer {
    text-align: center;
    background-color: #1a5c37;
    color: white;
    margin-top: 30px;
}